<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ford.dao.exhibition.custom.FordExhibitionSupplierCustomMapper">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />


	<update id="updateUserWin" parameterType="map">
		update
		FORD_EXHIBITION_SUPPLIER
		set COUNT = #{count}
		where CODE = #{code}
	</update>
</mapper>