<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ford.dao.base.CallMapper">
	
 <!-- 此文件主要用于编写sql语句
      namespace是为了解决相同名字的sql操作问题
   -->
  <!-- 定义函数 -->
  <select id="callFGetId" resultType="string">
          select f_getid as id from dual
  </select>
  
</mapper>                                                                 